[submodule "home/.irssi/scripts/irssi-notifier"]
	path = home/.irssi/scripts/irssi-notifier
	url = https://github.com/paddykontschak/irssi-notifier.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
