.DS_Store
home/.irssi/away.log
home/.irssi/config
home/.irssi/config.autosave
home/.irssi/modules/libfe_xmpp.so
home/.irssi/modules/libtext_xmpp.so
home/.irssi/modules/libxmpp_core.so
home/.irssi/scripts/autorun
home/.irssi/solarized-universal.theme
home/.irssi/_windowlist
home/.vim/backups
home/.vim/bundle
home/.vim/.netrwhist
home/.vim/sessions
