[alias]
    babysit = !git-babysit
    nb = !sh -c 'git checkout master && git checkout -b $1 && git pull origin master' -
[push]
    default = simple
[user]
    name = Paul Harper
    email = paul@chartio.com
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[core]
    editor = /usr/bin/vim

# This belongs at the end
[include]
    path = "~/.gitconfig.local"
[grep]
	patternType = extended
