[alias]
    babysit = !git-babysit
    fixup = !git commit -m fixup && git rebase -i HEAD~2
[push]
    default = simple
[user]
    name = Paul Harper
    email = paul@chartio.com
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[core]
    editor = "/usr/bin/env nvim"

# This belongs at the end
[include]
    path = "~/.gitconfig.local"
[grep]
	patternType = extended
